
blockquote {
	padding: 0.8em 1.4rem;
	margin: 1em 0;
	font-weight: 400;
	border-left: 4px solid #2196f3;
	background-color: #2196f321;
	border-radius: 0px 8px 8px 0px;
	box-shadow: rgb(149 149 149 / 13%) 0px 5px 10px;
};